.NavaBar {
    background-color: rgb(75, 72, 72);
    margin: 10px;

}

    .ConteinerBar.ConteinerBar{
        font-size: 24px;
        color: white;
        text-align: center;
        text-decoration: aliceblue;
    }
